.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #000000;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #5b544e;
  background-image: url("images/box_background.jpg");
  background-size: cover;
  background-position: center;
  padding: 5px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 3px 3px #222121, -.7em 0 .5em #222121;
  color: #3b3636;
  font-weight: bold;
}

.cart_box{
  background-image: url("images/box_background.jpg");
}
